@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* Global Settings */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
a img {
    border: none;
}
.clear {
    clear: both;
    width: 100%;
}
.hidden {
    display: none;
}

/* Container and General Elements */
#container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #fff;
}
.banner img {
    margin-top: 20px !important;
    float: right;
}
.button-buy {
    align-items: center;
    margin: auto;
    clear: both;
    color: #fff;
    font-weight: 900;
    border: 1px solid black;
    padding: 17px 60px;
    background: #ffa624;
    display: inline-flex;
    border-radius: 26px;
}
.category-list {
    display: block;
    margin-bottom: 1px;
    max-width: 100%;
    color: black;
    padding: 10px;
    background: #F3F1F2;
}
.category-list:hover {
    background: #ffbc00;
    font-weight: bold;
}

/* Header */
#branding {
    width: 98%;
    max-width: 1200px;
    padding: 5px 0;
    margin: 0 auto;
    text-align: right;
    color: #fff !important;
    line-height: 19px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif !important;
}
#branding a img {
    margin: 0 5px;
    vertical-align: middle;
}
#header-container {
    display: block !important;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    background: #ffffff;
    position: relative;
}
#header {
    display: block !important;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
#logo-container {
    margin: 10px auto 25px;
    padding: 0;
    width: 100%;
    max-width: 320px;
    height: auto;
    float: left;
}
#logo-container a {
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    height: auto;
    display: block;
}
#logo-container a img {
    width: 100%;
    max-width: 320px;
    height: auto;
}
#links-container {
    width: 60%;
    line-height: 30px;
    display: block;
    margin: 2px 0 5px;
    border: none;
    float: right;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.link-item {
    margin: 0 5px;
    display: inline-block;
}
.link-item img {
    margin: 0;
    vertical-align: middle;
}
.link-item a {
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 2px 0;
    display: inline-block;
}
.link-item a:hover {
    color: #2282CC;
}

/* Menu */
#menu-container {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    min-height: 40px;
    vertical-align: middle !important;
    text-align: left;
    z-index: 500 !important;
    background: #fed700;
}
.show-menu {
    display: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 0;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
}
.show-menu:after {
    content: '\2630';
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    height: 40px;
    margin: auto;
}
#menu-checkbox {
    display: none;
}
#menu {
    z-index: 501 !important;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
#menu-checkbox:checked ~ #menu {
    display: block !important;
}
.menu-item {
    width: 14%;
    display: inline-block;
    margin: 0 auto;
    box-sizing: border-box;
    float: left;
}
.menu-item.last {
    width: 16%;
}
.menu-item:first-child {
    border: none;
}
.menu-item:hover {
    background: #252B37;
}
.menu-item a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    height: auto;
    line-height: 45px;
    padding: 0 10px;
    text-align: center;
    margin: 0;
    display: block;
}
.menu-item > a {
    text-transform: uppercase;
}
.menu-item .sub-menu {
    display: none;
    z-index: 502 !important;
    list-style: none;
    position: absolute;
    top: 45px;
    left: 0;
    background: #252B37;
}
.menu-item:hover .sub-menu {
    display: block;
    width: 100%;
}
.sub-menu-item {
    text-align: center;
    margin: 0 1%;
    padding: 0;
    line-height: 30px;
    width: 31%;
    display: inline-block;
}
.sub-menu-item a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    height: auto;
    line-height: 35px;
    padding: 5px 0;
    text-align: left;
    margin: 0;
    display: block;
    width: auto;
}
.sub-menu-item a:hover {
    text-decoration: none;
    color: #2282CC;
}

/* Slideshow */
#slideshow-container {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 35px;
    padding: 0;
    position: relative;
}
.slideshow {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    color: #373735;
    margin: 0;
    z-index: 5;
    display: none;
}
.slideshow input {
    display: none;
}
.slideshow img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.slideshow label {
    display: none;
}
.slideshow .slide img {
    opacity: 0;
    transform: scale(1);
}
.slideshow input:checked + label + img {
    opacity: 1;
    transform: scale(1);
}
.slideshow .gallery {
    width: 98%;
    position: relative;
    padding-top: 400px;
    margin: 0 auto;
}
.slideshow .gallery img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    max-height: 400px;
    padding: 10px 0;
}
.slideshow .gallery input[name='slide_switch'] {
    display: none;
}
.slideshow .gallery label {
    margin: 3% 1% 0;
    transition: all .5s;
    opacity: .6;
    width: 22%;
    height: 115px;
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.slideshow .gallery label img {
    display: block;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    margin: auto;
    padding: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    max-height: 100%;
}
.slideshow input[name='slide_switch']:checked + label {
    opacity: 1;
}

/* Tabs */
#tabs-container {
    width: 100%;
    max-width: 100%;
    padding: 20px 0;
    margin: 10px auto 20px;
    background: #f4f4f4;
    text-align: center;
    height: auto;
    clear: both;
}
#tabs {
    width: 100%;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    height: auto;
}
#tabs:after {
    display: table;
    content: '';
    clear: both;
}
#tabs section {
    clear: both;
    display: none;
    margin: 0 0 10px;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px !important;
    text-align: left;
    border-top: 2px solid #E6E6E6;
}
#tabs section:before {
    content: "\a0";
    display: block;
    padding: 20px 0 0;
    line-height: 2px;
    border-top: 2px solid #fff;
}
#tabs section p, #tabs section p span, #tabs section span, #tabs section div, #tabs section table {
    font-size: 14px !important;
}
#tabs input {
    display: none;
}
#tabs label {
    display: inline-block;
    margin: 0 0 10px;
    padding: 0;
    font-weight: 500;
    text-align: center;
    width: 20%;
    font-size: 20px;
    font-family: 'Roboto', serif;
    color: #000;
    float: left;
    line-height: 50px;
    height: 50px;
    background: #f4f4f4;
    box-sizing: border-box;
    text-transform: uppercase;
    border-left: 1px solid #f4f4f4;
}
#tabs label.first {
    border: none;
}
#tabs label:hover {
    color: #fff;
    cursor: pointer;
    background: #f5a712;
    box-sizing: border-box;
}
#tabs input:checked + label {
    color: #fff;
    background: #f5a712;
    box-sizing: border-box;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5 {
    display: block;
    font-size: 14px;
    color: #333;
}
#content1 table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    max-width: 100% !important;
    font-family: 'Roboto', sans-serif !important;
}
#content1 img {
    display: block;
    max-width: 100%;
}
#tabs .responsive-tab-input, #tabs .responsive-tab-label {
    display: none;
}
.responsive-tab-content a {
    color: #000;
}

/* Responsive Design */
@media screen and (max-width: 1260px) {
    #container, #footer, #news, #tabs {
        max-width: 98%;
    }
}
@media screen and (max-width: 1210px) {
    #branding, #header {
        max-width: 98%;
    }
}
@media screen and (max-width: 980px) {
    .show-menu {
        display: block;
    }
    .menu-item, .sub-menu {
        display: none;
    }
    #menu {
        display: none;
    }
    .side-menu {
        display: block;
    }
    .side-menu-item {
        display: inline-block;
        width: 31.33%;
        margin: 0 1%;
        float: left;
    }
    .side-menu-item a {
        line-height: 30px;
        font-size: 13px;
        border: none;
    }
    .menu-item {
        width: 100%;
        display: block;
        margin: 0 auto;
        border-left: none;
        border-top: 1px solid #1F71B1;
    }
    .menu-item:first-child {
        border-top: 1px solid #1F71B1;
    }
    .sub-menu {
        display: block;
        position: relative;
        border-top: 1px solid #1F71B1;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .sub-menu-item {
        width: 32.3%;
        display: inline-block;
        margin: 0 auto;
        border: none;
    }
    .sub-menu-item a {
        font-weight: 400;
        text-align: center;
    }
    .side-menu .level2 {
        display: none;
    }
    .responsive-tab-content, .tab-content {
        display: block;
    }
    .responsive-tab-content > .tab {
        display: block;
        width: 31.33%;
        float: left;
        margin: 5px 1%;
    }
    .responsive-tab-content input:checked ~ .tab {
        margin-left: 1%;
    }
    .responsive-tab-content .arrow {
        display: none !important;
    }
    .tab:after {
        display: table;
        content: '';
        clear: both;
    }
    .footer-box {
        max-width: 25%;
    }
    .footer-box.categories {
        max-width: 75%;
    }
    .footer-box.categories .sub-menu-item {
        width: 31.33%;
    }
    #payment, #delivery {
        display: block;
        max-width: 98%;
        float: none;
        text-align: center;
    }
}
@media screen and (max-width: 860px) {
    #logo-container {
        float: none;
        margin: 5px auto;
        text-align: center;
    }
    #links-container {
        float: none;
        margin: 5px auto;
        text-align: center;
        width: 98%;
    }
}
@media screen and (max-width: 840px) {
    .product-images {
        float: none;
        clear: both;
        max-width: 100%;
        margin: 10px auto;
    }
    .product-info {
        float: none;
        clear: both;
        max-width: 100%;
    }
    .product-promo {
        display: none;
    }
    #tabs-container {
        background: #fff;
        margin: 0 auto;
    }
    #tabs section {
        border: none;
    }
    #tabs section:before {
        display: none;
    }
    #tabs {
        margin: 0 auto 10px;
    }
    .desktop-tab {
        display: none !important;
    }
    .responsive-tab-input, .responsive-tab-label {
        display: block !important;
    }
    #tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5 {
        display: none;
        border: none;
    }
    .responsive-tab-label {
        color: #333;
        text-decoration: none;
        position: relative;
        display: block;
        width: 100%;
        min-height: 40px;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 600;
        margin: 10px 0 0;
        background: #e6e6e6;
        text-align: left;
        line-height: 40px;
        height: 40px;
        position: relative;
        border: none;
    }
    .responsive-tab-content {
        margin: 0;
        padding: 15px 5px;
    }
    .responsive-tab-content table {
        border-collapse: collapse !important;
        border-spacing: 0 !important;
        max-width: 100% !important;
    }
    .responsive-tab-content img {
        display: block;
        max-width: 100%;
    }
    .responsive-tab-input:not(checked) ~ .responsive-tab-content {
        display: none;
    }
    .responsive-tab-input {
        display: none !important;
    }
    .responsive-tab-label:hover {
        color: #fff;
    }
    #tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5 {
        display: block;
    }
    #tab1:checked ~ #label1, #tab2:checked ~ #label2, #tab3:checked ~ #label3, #tab4:checked ~ #label4, #tab5:checked ~ #label5 {
        color: #fff !important;
        background: #fed700;
        border: none;
    }
    .responsive-tab-input:not(checked) ~ .responsive-tab-label:before {
        display: block;
        position: absolute;
        margin: auto;
        padding: 0;
        right: 15px;
        top: 0;
        bottom: 0;
        content: "\25bc";
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        line-height: 40px;
        height: 40px;
    }
    #tab1:checked ~ #label1:before, #tab2:checked ~ #label2:before, #tab3:checked ~ #label3:before, #tab4:checked ~ #label4:before, #tab5:checked ~ #label5:before {
        content: "\25b2";
    }
}
@media screen and (max-width: 780px) {
    .footer-box {
        max-width: 33%;
    }
    .footer-box.categories {
        max-width: 66%;
    }
    .footer-box.categories .sub-menu-item {
        width: 49%;
    }
}
@media screen and (max-width: 760px) {
    .sub-menu-item {
        width: 49%;
    }
}
@media screen and (max-width: 690px) {
    #brand-section {
        display: none;
    }
}
@media screen and (max-width: 660px) {
    #promo-section {
        display: none;
    }
    .responsive-tab-content > .tab {
        display: block;
        width: 48%;
        float: left;
        margin: 5px 1%;
    }
    #news span {
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .side-menu-item {
        width: 98%;
    }
}
@media screen and (max-width: 560px) {
    .slideshow, #banner {
        display: none !important;
    }
    .footer-box {
        max-width: 100%;
        text-align: center;
    }
    .footer-box h1 {
        max-width: 100%;
        text-align: center;
    }
    .footer-box a {
        max-width: 100%;
        text-align: center;
        display: block;
        padding: 0;
    }
    .footer-box.categories {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .sub-menu-item {
        width: 100%;
    }
    .responsive-tab-content > .tab {
        width: 98%;
        float: none;
    }
    #payment, #logo {
        float: none;
        margin: 5px auto;
        text-align: center;
        display: block;
    }
    #payment img {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    #delivery img {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}
